<div class="holder">
  <div class="title" (click)="closeSidebar()">
    Organify
  </div>
  <div class="sidebar-button" (click)="dashboard()">
    <div class="button-holder">
      <img src="assets/img/dashboard.svg" class="icon"><span>Dashboard</span>
    </div>
  </div>
  <div class="sidebar-button" (click)="tasks()">
    <div class="button-holder">
      <img src="assets/img/tasks.svg" class="icon"><span>Tasks</span>
    </div>
  </div>
  <div class="sidebar-button" (click)="shifts()">
    <div class="button-holder">
      <img src="assets/img/shifts.svg" class="icon"><span>Shifts</span>
    </div>
  </div>
  <div class="sidebar-button" (click)="affectation()">
    <div class="button-holder">
      <img src="assets/img/affect.svg" class="icon"><span>Affectation</span>
    </div>
  </div>
  <div class="sidebar-button" (click)="settings()">
    <div class="button-holder">
      <img src="assets/img/settings.svg" class="icon"><span>Settings</span>
    </div>
  </div>
</div>
