span.titleProfile{
  padding-left: 5%;

  font-size: 2em;
  font-family: "Lato Light", sans-serif;
  height: 15%;
}

div.containerProfile{
  height: 85%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.profilePic{
  width: 100%;
  height: 40%;

  margin-top: 2%;
  margin-bottom: 3%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img.profilePic{
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

span.name{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
}

div.infoHolder{
  width: 100%;
  height: 55%;

  padding: 2%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.info{
  width: 100%;

  font-size: 1.2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Source Sans Pro', sans-serif;
}

span.info{
  font-family: "Lato Light", sans-serif;
}
