<span class="titleProfile">Profile</span>
<div class="containerProfile">
  <div class="profilePic">
    <img src="{{profile_pic_url}}" class="profilePic">
    <span class="name">{{username}}</span>
  </div>
  <div class="infoHolder">
    <div class="info">
      <span>Team</span>
      <span class="info">{{team}}</span>
    </div>
    <div class="info">
      <span>Mail</span>
      <span class="info">{{mail}}</span>
    </div>
    <div class="info">
      <span>Phone</span>
      <span class="info">{{phone}}</span>
    </div>
  </div>
</div>
