<div class="flexHolder">
  <div class="holder">
    <div>
      <span class="title">ORGANIFY</span><br>
      <span class="subtitle">Welcome back, please login into your account</span>
    </div>
    <div class="input">
      <input type="text" #mailInput placeholder="Mail" id="mail"><br>
      <input type="password" #pwdInput placeholder="Password" id="pwd">
    </div>
    <div class="password">
      <input #checkboxRememberMe type="checkbox" class="rememberMe"><span class="rememberMe" (click)="changeStateInput()">Remember me</span>
      <span class="forgetPassword">Forgot password</span>
    </div>
    <div class="flexButton">
      <button class="loginButton" (click)="login()">Login</button>
      <button class="signInButton" (click)="signIn()">Sign in</button>
    </div>
  </div>
</div>
